<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <h1>Ingredients</h1>
        <ul>
            <li v-for="(ingredient, key) in ingredients">{{ingredient}} ({{key}})</li>
        </ul>
        <hr>
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">
                    {{key}}: {{value}} ({{index}})
                </div>
            </li>
        </ul>
    </div>

    <script src="vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                ingredients: ['meat', 'orange', 'milk', 'chocolate'],
                persons: [
                    { name: 'Max', age: 25, color: 'red'},
                    { name: 'Daniel', age: 35, color: 'blue'},
                    { name: 'Saphira', age: 22, color: 'green'}
                ]
            }
        })
    </script>
</body>
</html>